// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes focus {
  0% {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transform: scale(1);
  }
}