// Variables
$font-family-primary: "Arial", sans-serif;
$font-family-secondary: "Play", sans-serif;
$font-family-tertiary: "Black Ops One", system-ui;
$color-bg: black;
$color-text: #cccccc;
$color-header: rgb(235, 156, 255);
$color-h2: rgba(63, 1, 104, 0.541);
$color-h3: rgba(255, 0, 0, 0.541);
$color-h4: #ffa319;
$color-h5: #eeff00;
$color-paragraph: rgb(218, 218, 218);
$color-link: rgb(30, 0, 100);
$color-blockquote-bg: #555;
$color-blockquote-border: #1a1a1a;
$color-grid-item-border: black;
$color-references-border: #8f0202;
$color-submit-bg: #09ff00;
$color-submit-text: #fff;
$border-width: 2px;
$border-radius: 5px;
$gap: 10px;